<!DOCTYPE html>
<html lang="pt-br" ng-app="gestaodeprodutos">
<head>
    <title>Gestão de Produtos</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/bootstrap-responsive.min.css"/>
    <link rel="stylesheet" href="css/colorpicker.css"/>
    <link rel="stylesheet" href="css/datepicker.css"/>
    <link rel="stylesheet" href="css/uniform.css"/>
    <link rel="stylesheet" href="css/select2.css"/>
    <link rel="stylesheet" href="css/matrix-style.css"/>
    <link rel="stylesheet" href="css/matrix-media.css"/>
    <link rel="stylesheet" href="css/bootstrap-wysihtml5.css"/>
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.8/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-controller="produtos">

<div>
    <br/>
    <h4> < / Nicolas Fontes ></h4>
    <br/>
</div>


<div id="sidebar"><a href="#" class="visible-phone"><i class="icon icon-list"></i>Forms</a>
    <ul>
        <li><a href="index.html"><i class="icon icon-home"></i> <span>Dashboard</span></a></li>
        <li><a href="index.html"><i class="icon icon-signal"></i> <span>Produtos</span></a></li>
        <li class="active"><a href="estoque.html"><i class="icon icon-briefcase"></i> <span>Estoque</span></a></li>
    </ul>
</div>

<!--close-left-menu-stats-sidebar-->

<div id="content"  ng-init="listarProdutos()">
    <div id="content-header">
        <div id="breadcrumb"><a href="index.html" title="Go to Home" class="tip-bottom"><i class="icon-home"></i>
            Dashboard</a> <a href="#" class="current">Estoque</a></div>
        <h1>Gestão de Produtos</h1>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">

            <div class="span6">

                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-align-justify"></i> </span>
                        <h5>Formulário</h5>
                        {{estoque}} - {{produtoEstoque}}

                    </div>
                    <div class="widget-content nopadding">
                        <form class="form-horizontal">
                            <div class="control-group">
                                <label class="control-label">Nome do Produto :</label>

                                <div class="controls">
                                    <select ng-model="produtoEstoque"  id="produto" name="produto">
                                        <option ng-repeat="prod in listaProdutos" value="{{prod._id}}">{{prod.nome}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Movimentação :</label>

                                <div class="controls">
                                    <select ng-model="movimentacaoEstoque" id="movimentacao" name="movimentacao">
                                        <option value="">Selecione a Movimentação</option>
                                        <option value="Entrada">Entrada (+)</option>
                                        <option value="Saída">Saída (-)</option>
                                    </select>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Quantidade :</label>

                                <div class="controls">
                                    <input type="number" class="span11" placeholder="0" ng-model="estoque.quantidade"/>
                                </div>
                            </div>

                            <div class="form-actions" style="color: red">
                                <button type="submit" class="btn btn-success" ng-click="editarEstoque()">Salvar</button>
                                <button type="button" class="btn btn-warning">Limpar</button>
                                {{respostaEstoque}}
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="span6">
                <div class="widget-box">
                    <div class="widget-title"><span class="icon"> <i class="icon-signal"></i> </span>
                        <h5>Estoque dos Produtos</h5>
                    </div>
                    <div class="widget-content nopadding">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>Produto</th>
                                <th>Estoque</th>
                                <th>Editar</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="prod in listaProdutos">
                                <td>{{prod.nome}}</td>
                                <td>{{prod.estoque}}</td>
                                <td><a>Editar</a></td>
                            </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row-fluid">
    <div id="footer" class="span12"> 2017 &copy; Matrix Admin | Painel desenvolvido por <a style="color: white" href="http://www.nicolasfontes.com.br" target="_blank">Nicolas Fontes</a>
    </div>
</div>

<script src="js/jquery.min.js"></script>
<script src="js/jquery.ui.custom.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/bootstrap-colorpicker.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/masked.js"></script>
<script src="js/jquery.uniform.js"></script>
<script src="js/select2.min.js"></script>
<script src="js/matrix.js"></script>
<script src="js/matrix.form_common.js"></script>
<script src="js/wysihtml5-0.3.0.js"></script>
<script src="js/jquery.peity.min.js"></script>
<script src="js/bootstrap-wysihtml5.js"></script>
<script>
    $('.textarea_editor').wysihtml5();
</script>
</body>
</html>
